<%- include("partials/header") %>
<br></br>
<hr></hr>
<div class="container">
    <br></br>
    <br></br>
 <div id="cent1"><img class="ui medium image" src="https://lh3.googleusercontent.com/K4R3wys_Q4hbh25cAzCIZVAlcuqa7qhLR-IXb6jD2ULV8bUMFocogIZ-wbySFezDVmezzyBSzakRpEKIybn7DL_z0N5IvdAKQMSDrPsTkhsCEC7h6gZuDpOG_tITUuJmmK6PYfr6CKIx8S5TOPoPQqm1C9t8VA7VhgoFwpmYXWdKCu77XyOB2o9NoWIxnej2WBJWEhVWtLyV1-X3O6iY4w8l8jrmA_B2oiifkxaSwI6ttLGRnkFyKE7MtC9WL6uNc8BzDT-D8Cz5LWeuReTaziFjDL954FoRqXB_Ttwz-tfwiPWTUA0HfegUPG164AVOZ3Mz4twe3cPCLmVZduO00Cxvn-zHS-0MTrqw5EH-Npfz8xrM3o5T9htgvDpPtu6ofcgDkaDf9yDY-oLwSXiUsM0IXhiCDUui0NMdpkkCLaZ4ypmWYojA2Ru-TFtKv77Ey7z8k3LUQ7s42sf8vSFrAsqlPxokmAlowDb1F5BvTVhCCMRIUDy5EZgNFU86xGsKk6ZWvxbR-wLRWCMoSW-E3OiRW-D4KAsEjVPAcNl5EGgDyuCzoJLE_oYHM_s_MVRJt3ds4InUQX1b17r3k1IOsRz4cBWIqF7SKUtJSa6pQdvQt3jdDL-DChc1vIFoNS67gyVX4f2w4Fx0GdohjG9WeNXWELhla8LyjZdAiO3JbhiF-yXzEhiXqw=s625-no" style="margin-left:489px;">
</div>
  <h4 style="color:rgb(47, 0, 255)"><strong style="margin-left: 498px;">Brijesh Chauhan</strong> </h4>
</div>

    
<%- include("partials/footer") %>
