<! Doctype html>
<html>
<head><h1 style="color:blue;">Beta ban gaye na april fool<h1/></head>
<body style="color:yellow;">

<img src="https://i.pinimg.com/originals/e7/a9/01/e7a901060e8ff4495765a1790c708ac8.jpg">
</body>

</html>